<div class="container">
  <div class="container-file-upload" *ngIf="!addFile">
    <div class="folder">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
    <label class="custom-file-upload">
      <input
        class="title"
        type="file"
        id="fileInput"
        (change)="onFileChange($event)"
        accept="application/pdf"
        multiple
      />
      Escolher Arquivo
    </label>
  </div>

  <div
    class="pages-container"
    #pagesContainer
    *ngIf="!loading"
    cdkDropList
    (cdkDropListDropped)="this.pdfEdit.dragDrop($event)"
    [cdkDropListSortingDisabled]="false"
    cdkDropListOrientation="mixed"
  >
    <div
      *ngFor="let page of pdfEdit.getPages()"
      class="page-card"
      cdkDrag
      [cdkDragStartDelay]="50"
      [ngClass]="{ excluded: !page.checked }"
    >
      <div class="handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <img [src]="page.canvasImg" alt="Preview da página" class="page-pdf" />
      <ng-template cdkDragPreview>
        <img [src]="page.canvasImg" class="page-pdf preview-img" />
      </ng-template>
      <div class="page-actions">
        <button class="btn-view" (click)="viewPdf(page.id)">
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 4H4m0 0v4m0-4 5 5m7-5h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5m7 5h4m0 0v-4m0 4-5-5"
            />
          </svg>
        </button>
        <button
          (click)="pdfEdit.pdfChangeAction(page.id)"
          [class.btn-undo]="page.checked"
          [class.btn-delete]="!page.checked"
        >
          @if ( page.checked ) {
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>

          } @else {
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.484 6.743c.41-.368.443-1 .077-1.41a.99.99 0 0 0-1.405-.078L2.67 10.203l-.007.006A2.048 2.048 0 0 0 2 11.721a2.058 2.058 0 0 0 .662 1.51l5.584 5.09a.99.99 0 0 0 1.405-.07 1.003 1.003 0 0 0-.07-1.412l-5.577-5.082a.05.05 0 0 1 0-.072l5.48-4.942Zm6.543 9.199v-.42a4.168 4.168 0 0 1 2.715 2.415c.154.382.44.695.806.88a1.683 1.683 0 0 0 2.167-.571c.214-.322.312-.707.279-1.092V15.88c0-3.77-2.526-7.039-5.966-7.573V7.57a1.957 1.957 0 0 0-.994-1.838 1.931 1.931 0 0 0-2.153.184L7.8 10.164a.753.753 0 0 0-.012.011l-.011.01a2.098 2.098 0 0 0-.703 1.57 2.108 2.108 0 0 0 .726 1.59l5.08 4.25a1.933 1.933 0 0 0 2.929-.614c.167-.32.242-.68.218-1.04Z"
              clip-rule="evenodd"
            />
          </svg>

          }
        </button>
      </div>
    </div>
  </div>

  <div class="options" *ngIf="addFile" [ngClass]="{ show: !loading }">
    <button class="container-btn-file">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M18 9V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h4M9 3v4a1 1 0 0 1-1 1H4m11 6v4m-2-2h4m3 0a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
        />
      </svg>

      <label for=""> Adicionar Arquivo </label>

      <input
        class="title"
        type="file"
        id="fileInput"
        (change)="onFileChange($event)"
        accept="application/pdf"
        multiple
      />
      <!-- <input class="file" name="text" type="file" /> -->
    </button>

    <button class="container-btn-file" (click)="pdfEdit.downloadFullPDF()">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"
        />
      </svg>
      <label for="">Baixar PDF</label>
    </button>

    <button class="container-btn-file" (click)="pdfEdit.downloadSeparatePDF()">
      <svg
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
      >
        <path
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"
        />
      </svg>

      <label for="">Baixar Separadamente</label>
    </button>

    <button
      class="btn-clear container-btn-file"
      id="clearBtn"
      (click)="clearFile()"
    >
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5v14m-6-8h6m-6 4h6m4.506-1.494L15.012 12m0 0 1.506-1.506M15.012 12l1.506 1.506M15.012 12l-1.506-1.506M20 19H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1Z"
        />
      </svg>

      <label for="">Limpar</label>
    </button>
  </div>
</div>
<app-loading-cap *ngIf="loading" />
<view-page-pdf
  [visible]="showModal"
  [canvasImg]="canvasImg"
  (close)="closeModalPagePdf()"
/>
