@import url(./../../../root.scss);
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--capivara-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .logo {
    width: 67px;
    height: 67px;
    position: absolute;
    top: -3px;
  }

  .menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: #f59e0b; // Amarelo
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 60px;
      right: 0;
      background-color: var(--capivara-brown);
      flex-direction: column;
      width: 100%;
      display: none;

      &.active {
        display: flex;
      }

      li {
        padding: 1rem;
        border-bottom: 1px solid var(--capivara-saddle);
      }
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      border-radius: 2px;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}


.title {
  padding-left: 40%;
    display: inline-block;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    width: 0;
    animation: typing 3s steps(22) forwards, blink 0.7s step-end infinite;
  }

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch; 
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
