<nav class="topbar">
  <div>
    <img src="/images/logo-cap.png" alt="logo-cap" class="logo" />
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="menu" [class.active]="isMenuOpen">
    <li><a routerLink="merge" (click)="closeMenu()">Juntar PDF</a></li>
    <li><a routerLink="split" (click)="closeMenu()">Dividir PDF</a></li>
    <li>
      <a routerLink="page-pdf" (click)="closeMenu()">Editar PDF</a>
    </li>
  </ul>
</nav>
