<nav class="topbar">
  <div>
    <!-- <img src="images/logo-cap.png" alt="logo-cap" class="logo" /> -->
     <img src="assets/images/logo-cap.png" alt="logo-cap" class="logo" />
    <span class="title">Capivara Informata</span>
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="menu" [class.active]="isMenuOpen">
    <li><a routerLink="page-pdf-convert" (click)="closeMenu()">Converter PDF</a></li>
    <li>
      <a routerLink="page-pdf" (click)="closeMenu()">Editar PDF</a>
    </li>
  </ul>
</nav>
